<div class="navigation"  >
    <nav>
      <h1>LTI BANK OF INDIA</h1>
      <img style = "height: 50px; margin: -5px 5px; vertical-align: middle; float:left;" src = "assets/images/newwheel.jpg">
       <a href="home"><img style = "height: 50px; margin: -5px 20px; vertical-align: middle; float: right;"  src="assets/images/home.png" /></a>
      <!-- <a routerLink="home"> <img style = "height: 50px; margin: -5px 20px; vertical-align: middle; float: right;"  src="assets/images/home.png" /></a>  -->
    </nav>
  </div> 
<!-- 
<div id="nav">            
    <ul>
      <li><a routerLink="home">HOME</a></li>
     
      </ul>
    
</div> -->
<div id="main">
    <router-outlet></router-outlet>
</div>
