
  <marquee width="100%" direction="left" style="color: red;font-weight: bold; padding-top: 5px;">
      Our Bank never asks for your Card/PIN/OTP/CVV details on phone, message or email. 
      Please do not click on links received on your email or mobile asking your Bank/Card details.   |   
      Attention Retail/Corporate INB Users, transaction OTP will be made mandatory for all merchant related transactions, 
      hence please have your mobile number registered if the same has not been done until now.   |   
       Dear Customer, if you have donated for PM CARES through Internet Banking, 
       you can download the Receipt from PMCares portal of govt. using the reference number available with you.
    </marquee>
    <div  class="main">
        <ul style="background-color: coral;">
             <button (click)="ab()"  >About Us</button> 
            <!-- <button><a routerLink="aboutus"> ABoutus</a></button> -->
            <!-- <a routerLink="home"> <img style = "height: 50px; margin: -5px 20px; vertical-align: middle; float: right;"  src="assets/images/home.png" /></a>   -->
            <!-- <a routerLink="aboutus">About</a> -->
             <!-- <button type="submit" class="btncalc" (click)="calc()">EMI Calculator</button> -->
             <!-- <button >AboutUS</button> -->
             <button ><a href="#">EMI CALCULATOR</a></button>
            <button>Apply loan</button>
            <button>Login</button>
        </ul><br><br><br><br>
    </div>
    <div class="bank">
        <p style="color:black;font-family:Arial, Helvetica, sans-serif ;">Millions of Indians today are upwardly mobile, and on the move. Many are looking <br>at having their own car to reach their destination in time and in comfort.<br> Now, the years of waiting and saving are over. A Car Loan will bring that dream of owning a vehicle within your reach.
         You don’t need to look any further than HDFC Bank Custom-fit Car Loans, which come with a host of features like Step-Up EMI, Balloon Schemes, Top-Up Loans and much more. Is the process quick and cost-effective? Yes, as you’re one-step away from a hassle-free loan!
      </p>
  </div>
     <div class="rad">
        <div class="hat">
      <img style="width: 500px; height: 500px;" class="image"src="assets/images/car.jpg" >
         </div> 
     <div class="hat">
       <img style="width: 500px; height: 500px;" class="image"  src="assets/images/bank.jpg">  
      </div>
      </div> 
  
  <div class = "container">
      <div style="margin-top: 40px; color: #365040;"> 
          <h1 style="color: rgb(37, 0, 139);">All You Need To Know!!</h1>
      </div>
      <div class = "row" style="margin-top: 20px;">
          We offers you the best car loans worth up to 100% of the on-road price of the car you choose to buy, along with attractive interest rates and tenure of up to seven years.
  
  Apply Now to get an instant approval of Car Loan*
  
  *Sanction of the loan and final disbursement shall be subject to eligibility criteria as per our Bank’s policy and completion of KYC requirements.
  
    SMS CAR to 5676766 to check your Car Loan offer.
      </div>
      <hr style = "margin-top: 20px;">
      <div class="row" style="color: red;">
          Choose your car<br>
          Know all about your dream car:
     Latest Cars | Upcoming Cars | Offer | Car Loan EMI Calculator
      </div>
  </div>
  
  <footer class="footer">
      <br>
      <img style = "height: 68px; margin: -5px 20px; vertical-align: middle; float: left;" src = "assets/images/newwheel.jpg">
      <p>© vehicleLoan 2021. All Rights Reserved.<br>
      <a>Project Gladiator (Larsen & Toubro Infotech Limited)</a></p><br>
  </footer>
