<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">		
		
	</head>
	<body>
		<h1>EMI SCHEDULER</h1>
		<br><br>
	<div>
		<form style="background-color: beige;">
			
				<label for="principal"><b>Principal:</b></label>
				<input type="text" id="principal" />
				<br />
				<label for="interest"><b>Interest:</b></label>
				<input type="text" id="interest" />
				<br />
				<label for="terms"><b>Terms:</b></label>
				<select id="terms">
					<option value="12">12 Months</option>
					<option value="24">24 Months</option>
					<option value="36">36 Months</option>
					<option value="48">48 Months</option>
					<option value="60">60 Months</option>
            <option value="60">72 Months</option>
				</select>
				<br />
				<input type="button" value="Calculate" onclick="getValues()" />								
			<!-- </fieldset> -->
		</form>
		<br><br><br>
	</div>

			<h3>OUTPUTS</h3>
	
		<form style="color:black; border-radius: 100px;">
			
				<div id="Result"></div>
			
		</form>	
	
	</body>
</html>